* {
    -cor-verde: green;
}


#btLimpar .ikonli-font-icon {
    -fx-icon-code: "fa-amazon";
    -fx-icon-color: red;
    -fx-icon-size: 20pt;
}

#btLimpar:hover {
    -fx-background-color: -cor-verde;
}

#btLimpar:pressed {
    -fx-background-color: orange;
}

#painel{
    -fx-padding: 10;

}

.text-field {

    -fx-background-color: gray;
    -fx-background-radius: 50;

    -fx-border-style: dashed;
    -fx-border-radius: 50;
    -fx-border-width: 3px;
    -fx-border-color: purple;

}


.menor-idade{
    -fx-background-color: yellow;
}

.gosta_cafe {
    -fx-background-color: green;
}

.label{
    -fx-font-size: 15;
}